<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="#1 for mocked data generation"/>
	<meta name="author" content="Krzysztof Fryta"/>
	<meta name="keywords" content="rest, mock, data, generation, fake, user, mockup, andret, andret2344"/>
	<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/fontawesome.min.css"
		  rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/js/all.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"></script>
	<link th:href="@{/styles/index.css}" rel="stylesheet"/>
	<title>Mimic</title>
</head>
<body>
<header>
	<a href="#main-content" class="skip">Skip to main content</a>
	<div class="py-5">
		<h1 class="text-center">Mimic</h1>
		<div class="h2 py-4 text-center">#1 for mocked data generation</div>
	</div>
</header>
<main id="main-content">
	<div class="container my-5">
		<div class="h2 text-center">Create a token</div>
		<div class="row mx-auto col-10 col-md-8 col-lg-6 col-xl-4">
			<form>
				<div class="input-group mb-3">
					<label for="input-email" class="d-none">E-mail</label>
					<input
							type="email"
							class="form-control form-control-lg rounded-start input-email"
							id="input-email"
							placeholder="example@email.com"
					/>
					<button type="submit" class="btn btn-primary submit-button submit-button">
						<span class="submit-generate">Generate</span>
						<span class="d-block spinner-border text-light submit-spinner d-none text-center" role="status">
							<span class="visually-hidden">Loading...</span>
						</span>
						<i class="fa-solid fa-check submit-ok d-none"></i>
					</button>
				</div>
			</form>
		</div>
		<p class="my-5 text-center">
			<span>Visit</span>
			<a href="/swagger-ui/index.html#/" target="_blank">Swagger UI</a>
			<span>for endpoints and entities breakdown.</span>
		</p>
	</div>
</main>
<footer class="text-center">
	&copy; Andrzej Chmiel 2024. Usage and distribution allowed under
	<a href="https://gitlab.com/andret2344/mimic/-/blob/main/LICENSE">
		Creative Commons Attribution-ShareAlike 4.0 International Public License
	</a>
</footer>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:inline="javascript" th:src="@{/js/index.js}"></script>
</body>
</html>
