<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f7f7f7;
			padding: 20px;
		}

		.container {
			max-width: 600px;
			margin: 0 auto;
			background-color: #fff;
			padding: 20px;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

		h1 {
			color: #333;
			font-size: 24px;
			margin-bottom: 20px;
		}

		p {
			color: #666;
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 20px;
		}

		.button {
			display: inline-block;
			background-color: #9132a8;
			color: #fff !important;
			text-decoration: none;
			padding: 10px 20px;
			border-radius: 3px;
		}
	</style>
</head>
<body>
<div class="container">
	<h1>Your Mimic authentication token</h1>
	<p>Dear User,</p>
	<p>here is your JWT token:</p>
	<p><strong th:text="${jwt}"></strong></p>
	<p>Click the button below to get started:</p>
	<a class="button" href="https://mimic.andret.eu/">Get Started</a>
</div>
</body>
</html>
