body {
	background-color: #1a1c23;
	color: white;
	font-family: sans-serif;
}

a {
	color: white;
}

.submit-button {
	width: 100px;
}

.submit-spinner {
	margin: auto;
}

.skip {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.skip:focus {
	position: fixed;
	left: 0;
	width: auto;
	height: auto;
}

footer {
	color: #AAAAAA;
	font-size: 10px;
}
